# Project exclude paths
/.gradle/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/TropicalLibs.main.iml
/.idea/vcs.xml
/build/classes/java/main/org/tropicalstudios/tropicalLibs/toasts/AdvancementAccessor.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/impl/AsyncScheduler.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/BlockUtil$1.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/BlockUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/ChatUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/ItemUtil.class
/build/tmp/jar/MANIFEST.MF
/build/classes/java/main/org/tropicalstudios/tropicalLibs/Messenger.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/NumberUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/PlayerUtil.class
/build/resources/main/plugin.yml
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/PluginUtil.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/RegionUtil$WorldEditAllow.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/RegionUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/impl/SyncScheduler.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/TabUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/TaskHandle.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/toasts/ToastStyle.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/TropicalLibs.class
/build/libs/TropicalLibs-1.0.jar
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/TropicalScheduler.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/NBTUtil.class
/build/tmp/compileJava/compileTransaction/stash-dir/RegionUtil$WorldEditAllow.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/RegionUtil.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/ChatUtil.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/Messenger.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/PlayerUtil.class.uniqueId2
/build/tmp/shadowJar/MANIFEST.MF
/build/tmp/compileJava/compileTransaction/stash-dir/PluginUtil.class.uniqueId0
/build/libs/TropicalLibs-1.0-shadow.jar
/build/tmp/compileJava/compileTransaction/stash-dir/BlockUtil$1.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/BlockUtil.class.uniqueId3
/build/tmp/compileJava/compileTransaction/stash-dir/ChatUtil.class.uniqueId5
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/HelperUtil.class
/build/tmp/compileJava/compileTransaction/stash-dir/ItemUtil.class.uniqueId6
/build/publications/mavenJava/module.json
/build/tmp/publishMavenJavaPublicationToMavenLocal/module-maven-metadata.xml
/build/tmp/compileJava/compileTransaction/stash-dir/NBTUtil.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/NumberUtil.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/PlayerUtil.class.uniqueId7
/build/publications/mavenJava/pom-default.xml
/.idea/inspectionProfiles/Project_Default.xml
/build/classes/java/main/org/tropicalstudios/tropicalLibs/builders/ItemBuilder.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/builders/MenuBuilder.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/builders/PotionBuilder.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/builders/SkullBuilder.class
/build/libs/TropicalLibs-1.0-all.jar
/build/tmp/compileJava/compileTransaction/stash-dir/AdvancementAccessor.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/AsyncScheduler.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/PluginUtil.class.uniqueId5
/build/tmp/compileJava/compileTransaction/stash-dir/SyncScheduler.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/TropicalLibs.class.uniqueId3
/build/tmp/compileJava/compileTransaction/stash-dir/AdvancementAccessor.class.uniqueId5
/build/tmp/compileJava/compileTransaction/stash-dir/MenuBuilder.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/PluginUtil.class.uniqueId6
/build/tmp/compileJava/compileTransaction/stash-dir/ChatUtil.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/ItemBuilder.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/MenuBuilder.class.uniqueId3
/build/tmp/compileJava/compileTransaction/stash-dir/SkullBuilder.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/MenuBuilder.class.uniqueId0
/build/classes/java/main/org/tropicalstudios/tropicalLibs/listeners/MenuClick.class
/build/tmp/compileJava/compileTransaction/stash-dir/MenuClick.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/MenuClick.class.uniqueId0
