# Project exclude paths
/.gradle/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/TropicalLibs.main.iml
/.idea/vcs.xml
/build/classes/java/main/org/tropicalstudios/tropicalLibs/toasts/AdvancementAccessor.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/impl/AsyncScheduler.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/BlockUtil$1.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/BlockUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/ChatUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/ItemUtil.class
/build/tmp/jar/MANIFEST.MF
/build/classes/java/main/org/tropicalstudios/tropicalLibs/Messenger.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/NumberUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/PlayerUtil.class
/build/resources/main/plugin.yml
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/PluginUtil.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/RegionUtil$WorldEditAllow.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/RegionUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/impl/SyncScheduler.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/TabUtil.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/TaskHandle.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/toasts/ToastStyle.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/TropicalLibs.class
/build/libs/TropicalLibs-1.0.jar
/build/classes/java/main/org/tropicalstudios/tropicalLibs/schedulers/TropicalScheduler.class
/build/classes/java/main/org/tropicalstudios/tropicalLibs/utils/NBTUtil.class
/build/tmp/compileJava/compileTransaction/stash-dir/RegionUtil$WorldEditAllow.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/RegionUtil.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/ChatUtil.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/Messenger.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/PlayerUtil.class.uniqueId2
